.button{
    -fx-background-radius:10;
    -fx-border-radius:10;
    -fx-background-color:#D36135;

}
.text_field{
    -fx-background-radius:10;
    -fx-border-radius:10;
    -fx-background-color:#E8E8E8;
}
.navbar{
    -fx-background-color:#ffffff;
    -fx-background-radius:5;
}
.navbutton:hover{
    -fx-background-radius:10;
    -fx-border-radius:10;
    -fx-background-color:#E8E8E8;

}
.product_card_panel{
    -fx-background-color:#ffffff;
}
.transparent{
    -fx-background-color:rgba(0,0,0,);
}